AppHeader {
    layout: horizontal;
}

AppHeader HeaderTitle {
    width: 1fr;
}

HeaderClockSpace {
    display: none;
}

.version {
    width: auto;
    padding: 0 1;
    color: $text-muted;
}

.empty-input {
    border: tall red;
}

.empty-input:focus {
    border: tall red;
}

FilteredTree {
    width: 30%;
}

#input-container {
    width: 30%;
    border-left: tall $primary;
    padding: 1;
}

#button-row {
    height: auto;
    dock: bottom;
}

#button-row Button {
    width: 1fr;
    min-width: 0;
}

#output-log {
    width: 40%;
    border-left: tall $primary;
    background: $boost;
}
